@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Roboto-Bold;
    src: url('../src/fonts/roboto/Roboto-Bold.ttf');
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 20px;

}

p {
    font-weight: lighter;
    line-height: 1.5;
}